
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 960px;
    margin: 0 auto;
    background-color: #202529;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo > h1{
    font-size: 16pt;
}

nav ul{
    display: flex;
    align-items: center;
}

li a{
    color: #fff;
    margin-right: 10px;
    font-size: 12pt;
}

#contato{
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 5px;
}

.sobre_container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
.sobre > h1{
    font-size: 30pt;
}
.sobre > p{
    font-size: 11pt;
    line-height: 20px;
    max-width: 480px;
}

.sobre > button{
    background-color: aqua;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 15pt;
    font-weight: 500;
}

.img > img{
    width: 400px;

}

.habilidades_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.html{
    width: 100px;
}
.html > h3{
    text-align: center;
}
